body {
    background-color: #222;
    color: #EEE;
}
#form {
    width: 40%;
}
#matrix {
    width:55%;
    padding: 2em;
    margin: 1em;
}

#matrix td {
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    padding: 0.2em;
    background-color: #555;
    border: 1px solid #EEE;
    border-radius: 2em;
}

.clearfix:after {
    clear: both;
    display:block;
    content:" ";
}


#matrix,
#form {
    float: left;
    box-sizing: border-box;
    padding:2em;

}
label {
    margin: 1em;
}
#x,
#y{
    display:block;
    border: 1px solid #999;
    border-radius: 2em;
    margin: 1em ;
    text-align:center;

}
#z{
    color: #EEE;
    padding: 1em;
    background-color: #095;
    margin: 2em;
    border-radius: 2em;
}
@media (max-width: 767px){
    .clearfix{
        display: flex;
        flex-flow: column;
    }
    #form{
        margin: 0 auto;
        width: auto;

    }
    #matrix{

        margin: 0 auto;
        max-width: 100%;
        align-self: center;
    }
}